/* --------------------------------------------------------------------- / - Home --------------------------------------------------------------------- */
.home body {
	min-height: 200vh;
	background: none;
}
.home #page-title {
	display: none;
}
.home #page-content {
	min-height: 100vh;
}
#home-curtain-top {
	height: 94px;
	display: block;
	background: url("/assets/theme/curtain_top.png") repeat-x scroll 0 0;
	margin-top: 0;
	position: fixed;
	width: 100%;
	top: 40px;
	z-index: 30;
}
#home-curtain-left, #home-curtain-right {
	content: '';
	display: block;
	position: fixed;
	top: 90px;
	background: url("/assets/theme/curtain_left.png") no-repeat scroll 0 0/100% 100%;
	width: 35vw;
	height: 90vh;
	z-index: 20;
	max-width: 45vh;
}
#home-scroll-notice {
	width: 160px;
	position: absolute;
	top: 85vh;
	z-index: 100;
	height: 100px;
	right: 15vw;
	transition: opacity 0.5s ease-in-out 0s;
}
#home-scroll-notice path {
	fill: #D9B272;
	filter: drop-shadow(-2px 2px 1px #000);
}
#home-curtain-right {
	right: 0;
	transform: scaleX(-1);
}
#home-curtain-main {
	background: url("/assets/theme/curtain_main.png") repeat-x scroll 0 0 / auto 100%;
	height: 100vh;
	position: absolute;
	width: 100%;
	z-index: 11;
	top: 0;
}
#home-curtain-end {
	position: absolute;
	bottom: 0;
}
#home-stage {
	border-bottom: 2px solid #262626;
	border-radius: 0 0 70% 70% / 20px;
	background: #050002;
		background: -moz-linear-gradient(top, #050002 47%, #1d0323 100%);
		background: -webkit-linear-gradient(top, #050002 47%,#1d0323 100%);
		background: linear-gradient(to bottom, #050002 47%,#1d0323 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050002', endColorstr='#1d0323',GradientType=0 );
	margin-bottom: -13px;
	position: relative;
	height: 97vh;
	width: 100%;
	position: fixed;
	z-index: 10;
}
#home-stage-content {
	padding: 10vh 15vh 0;
	height: 100%;
}
#home-stage-content img {
	height: calc(60vh - 50px);
}
a.home-button {
	color: #D9B272;
	font-size: 20px;
	line-height: 1em;
	display: block;
	text-transform: uppercase;
}
#home-content {
	padding-top: 200vh;
	max-width: 1280px;
	margin: 0 auto;
}
#home-content li {
	padding: 30px;
}
/* Undo fixed position */ 
#page-content.home-scroll #home-curtain-top,
#page-content.home-scroll #home-curtain-left,
#page-content.home-scroll #home-curtain-right,
#page-content.home-scroll #home-stage {
	position: absolute;
	margin-top:100vh;
}


/* --------------------------------------------------------------------- /hotel/ --------------------------------------------------------------------- */
#hotel-booking-link, #hotel-booking-link body,
	#contact_form, #contact_form body {
		background:none;
}

/* --------------------------------------------------------------------- /contact/ --------------------------------------------------------------------- */
#contact-iframe {
	max-width: 400px;
	height: 600px;
	border: 0;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	width: 100%;
}
#contact-form {
	padding: 10px;
}
.contact-fieldset {
	padding: 5px 0;
}
.contact-fieldset label {
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15px;
}
.contact-fieldset input, .contact-fieldset select, .contact-fieldset textarea {
	width: 100%;
}
.form-notice,
.form-success,
.form-error {
	border-left: 5px solid #888;
	padding: 5px 15px;
	background: #555;
	margin-bottom: 10px;
}
.form-success {
	border-color: green;
}
.form-error {
	border-color: red;
}


#contact-social {
	margin: 0;
	padding: 30px 0;
}
#contact-social li {
	list-style: none;
	display: inline-block;
}
#contact-social a {
	color: inherit;
	transition: color 0.25s ease-in-out 0s;
	display: inline-block;
	/* padding: 40px; */
	transition: all .75s ease-in-out 0s;
	width: 125px;
	height: 125px;
	line-height: 125px;
	font-size: 0px;
}
#contact-social a:hover {
	background-color: #75005C;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
#contact-social .fa::before {
	font-size: 40px;
}