<header id="header" role="banner">

	<div id="header-wrapper" class="textcenter" >
		<a id="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

		<div id="site-subtitle">{{ site.event_location | escape }} | {{ site.event_dates | escape }}</div>

		<div id="menu-toggle">
			<input type="checkbox" id="menu-trigger" style="display: none;"/>
			<label for="menu-trigger">
				<i class="fa fa-bars"></i>
				Menu
			</label>
			<nav id="menu-main">

				<div id="menu-wrapper">
				{% for item in site.data.menu-footer.toc %}
					<div class="menu-group">
						<h3>{{ item.title }}</h3>
						<ul>
							{% for entry in item.subfolderitems %}
							<li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
				</div>

				<ul id="header-social">
					{% for item in site.social %}
						<li><a class="fa fa-{{ item.slug }}" href="{{ item.url }}" target="_blank">{{ item.name }}</a></li>
					{% endfor %}
				</ul>

			</nav>
		</div>
	</div>


</header>
