.home body {
	min-height: 1730px;
}
.home #header {
	position: fixed;
	width: 100%;
	z-index: 50;
}
.home #header::after {
	content: '';
	height: 94px;
	display: block;
	background: url('/assets/theme/curtain_top.png') repeat-x scroll 0 0;
	margin-top: -20px;
	position: relative;
	z-index: -1;
}
.home #page-content {
	min-height: 550px;
	height: 78vh;
}
#home-curtain-left, #home-curtain-right {
	content: '';
	display: block;
	position: fixed;
	top: 90px;
	background: url('/assets/theme/curtain_left.png') no-repeat scroll 0 0 / contain;
	width: 35vh;
	height: 70vh;
	z-index: 20;
}
#home-curtain-right {
	right: 0;
	transform: scaleX(-1);
}
#home-curtain-main {
	background: url(/assets/theme/curtain_main.png) no-repeat scroll 0 0 / contain;
	height: 80vh;
	position: relative;
	width: 100%;
	z-index: 11;
}
#home-stage {
	border-bottom: 2px solid #262626;
	border-radius: 0 0 70% 70% / 20px;
	background: #050002;
		background: -moz-linear-gradient(top, #050002 47%, #1d0323 100%);
		background: -webkit-linear-gradient(top, #050002 47%,#1d0323 100%);
		background: linear-gradient(to bottom, #050002 47%,#1d0323 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050002', endColorstr='#1d0323',GradientType=0 );
	margin-bottom: -13px;
	position: relative;
	height: 80vh;
	min-height: 550px;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.home-title {
	padding: 20vh 0 50px;
	font-size: 90px;
	line-height: 1em;
	font-weight: 400;
	margin: 0;
}
.home-announcement {
	color: #D9B272;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	line-height: 1em;
	margin: 8vh 0;
}
a.home-button {
	color: #D9B272;
	font-size: 20px;
	line-height: 1em;
	display: block;
	text-transform: uppercase;
}
.home #footer {
	padding-top: 70px;
	position: fixed;
	width: 100%;
	top: 77vh;
}
.home hr {
	max-width: 50%;
}