* > .one_half:nth-of-type(2n+1), * > .one_third:nth-of-type(3n+1), * > .one_fourth:nth-of-type(4n+1), * > .one_fifth:nth-of-type(5n+1), * > .one_sixth:nth-of-type(6n+1) {
	clear:left;
}

@media all and (max-width: 1024px) {
	.two_third, .three_fourth, .five_sixth, .two_fifth, .three_fifth, .four_fifth {margin:0 auto;float:none;clear: both;width:100%;}
}

@media all and (min-width: 769px)  {}
@media all and (max-width: 768px)  {
	.one_half {width:100%;}
	.one_third, .one_fourth {width:50%;}
	.one_fifth, .one_sixth {width:33.33%;}
	* > .one_third:nth-of-type(3n+1), * > .one_fifth:nth-of-type(5n+1), * > .one_sixth:nth-of-type(6n+1) {clear:none;}
	* > .one_third:nth-of-type(2n+1), * > .one_fourth:nth-of-type(2n+1), * > .one_fifth:nth-of-type(3n+1), * > .one_sixth:nth-of-type(3n+1) {clear:left;}
	.one_half, .one_third.last {margin:0 auto;float:none;clear: both;}
}

@media all and (max-width: 640px)  {
	.one_third {width:100%;}
	.one_fifth {width:50%}
	* > .one_fifth:nth-of-type(3n+1) {clear:none;}
	* > .one_fifth:nth-of-type(2n+1) {clear:left;}
	.one_third, .one_fifth.last {float: none;clear: both;margin:0 auto;}
	#sticky-foot h3 {font-size: 16px;line-height: 17px;}
	#sticky-foot .button {padding: 2px 12px;font-size: 14px;line-height: 23px;}

	#template-empty {padding-top: 110px;}
	#titlecard h1 {font-size: 40px;}
}

@media all and (max-width: 480px)  {
	.one_fourth {width:100%;}
	.one_sixth {width:50%;}
	* > .one_sixth:nth-of-type(3n+1) {clear:none;}
	* > .one_sixth:nth-of-type(2n+1) {clear:left;}
	.one_fourth {float: none;clear: both;margin:0 auto;}
	#page-title {
		font-size: 37px;
	}
}

@media all and (max-width: 360px) {
	.one_fifth, .one_sixth {width:100%;}
	.one_fifth, .one_sixth {float: none;clear: both;margin:0 auto;}
}
