---
# Only the main Sass file needs front matter (the dashes are enough)
---

{% include font-awesome.min.css %}
{% include func.css %}
{% include style.css %}
{% include extra.css %}
{% include responsive.css %}
